h1 {
	Color:black;
	text-align:center;
	font-size: 2.5em !important;
	margin-top: 30px !important;
}

h2 {
	color:black;
	text-align:center;
	font-size:1.3em;

}

h3 {

	color:black;
	text-align: center;
	font-size: 0.875em;
}

p {
	text-align: center; 
	font-size: 1em;
 }

body {
	align-content: center;
	background-color: blue;
	font-size: 100%;

}

.box-head {

	background-color:red !important;
	border: none !important;

}

.box-sub {
	background-color:rgb(1,0,168);
}

.content {
	background-color:white;

}


 
